<div>
    <h2 id="page-heading">
        <span jhiTranslate="inventarioApp.movimiento.home.title">Movimientos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movimiento" [routerLink]="['/movimiento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="inventarioApp.movimiento.home.createLabel">
            Create a new Movimiento
            
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="movimientos?.length === 0">
        <span jhiTranslate="inventarioApp.movimiento.home.notFound">No movimientos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="movimientos && movimientos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="whenDate"><span jhiTranslate="inventarioApp.movimiento.whenDate">When Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="inventarioApp.movimiento.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cantidad"><span jhiTranslate="inventarioApp.movimiento.cantidad">Cantidad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="inventarioApp.movimiento.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product.name"><span jhiTranslate="inventarioApp.movimiento.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movimiento of movimientos ;trackBy: trackId">
                    <td><a [routerLink]="['/movimiento', movimiento.id, 'view']">{{ movimiento.id }}</a></td>
                    <td>{{ movimiento.whenDate | date:'medium' }}</td>
                    <td>{{ movimiento.description }}</td>
                    <td>{{ movimiento.cantidad }}</td>
                    <td>
                        {{ movimiento.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="movimiento.product">
                            <a [routerLink]="['/product', movimiento.product?.id, 'view']" >{{ movimiento.product?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/movimiento', movimiento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/movimiento', movimiento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(movimiento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="movimientos && movimientos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
